<p>Bienvenue <%= @email %>!</p>

<p>Vous pouvez valider votre compte avec le lien ci-dessous:</p>

<p><%= link_to 'Confirmer mon Compte', confirmation_url(@resource, confirmation_token: @token) %></p>
