<p>Hello <%= @resource.email %>!</p>

<p>Vous avez demandé l'édition de votre mot de passe, vous pouvez l'effectuer grâce au lien ci-dessous</p>

<p><%= link_to 'Changer mon Mot de Passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
